//**************
// 
// Modules
//
//**************

// ~~~~~~~~~
// Sidebar Units
// ~~~~~~~~~

.sidebar {
  float: left;
  width: 300px;
  margin-top: 70px;
  margin-right: 40px;
}

.side-unit {
  border: 1px solid #EFEFEF;
  min-height: 40px;
  border-top: 4px solid black;
  padding: 12px 24px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
  margin-bottom: 32px;
  display: block;
  h3 {
    font-size: 16px;
    span {
      font-size: 14px;
      margin: 1px 0;
      color: #999;
    }
  }
  .read-more {
    font-size: 14px;
    padding: 8px 0;
    display: block;
  }
}

// ~~~~~~~~~
// Look Grid
// ~~~~~~~~~

ul.look-grid {
  clear: both;
  width: 640px;
  float: left;
}

// Look Unit
.look-unit {
  width: 600px;
  position: relative;
  border: 1px solid #E5E5E5;
  margin: 24px 0;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
}

.look {
  position: relative;
  width: 600px;
  height: 600px;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .hype-container {
    position: absolute;
    bottom: 14px;
    left: 7px;
    .hypes {
      position: relative;
      background-color: black;
      color: white;
      padding: 10px 18px;
      font-size: 20px;
      cursor: pointer;
      z-index: 9;
    }
    .hype {
      top: 0;
      left: 0;
      position: absolute;
      background-color: black;
      padding: 13px 18px;
      font-size: 14px;
      opacity: 0;
      transition: 0.2s ease;
      color: white;
      z-index: 2;
      font-weight: bold;
      &:hover {
       background-color: #333;
     }
      &.hyped {
        background-color: #0CF;
      }
    }
  }
}

.look-unit:hover .hype {
  opacity: 1;
  left: 110%;
  transition: 0.4s ease;
}

.details {
  border-top: #EFEFEF;
  background-color: #F9F9F9;
  h3 {
    padding: 12px 10px;
    padding-bottom: 0;
    line-height: 20px
  }
  p.subhead {
    padding: 4px 10px;
    padding-bottom: 8px;
    font-size: 12px;
    color: #666;
    a {
      color: #666;
    }
  }
  .tags {
    padding: 0 10px 12px 10px;
    li {
      cursor: pointer;
      background-color: #F5F5F5;
      padding: 8px 12px;
      margin-right: 6px;
      font-size: 14px;
      color: #777;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      transition: background-color 0.4s ease;
      &:hover {
        transition: background-color 0.4s ease;
        background-color: #333;
        color: white;
      }
    }
  }
}

.look-nav {
  width: 100%;
  border-top: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  li {
    float: left;
    padding: 12px 10px;
    padding-top: 13px;
    font-size: 13px;
    color: #777;
    border-right: 1px solid #E5E5E5;
    a {
      overflow: hidden;
      color: #777;
      transition: color 0.4s;
      &:hover {
        color: #333;
        transition: color 0.4s;
      }
    }
    &.social {
      padding: 0;
      border: none;
      float: right;
      opacity: 0.6;
      transition: opacity 0.4s;
      cursor: pointer;
      width: 38px;
      height: 38px;
      &:hover {
        opacity: 1;
        transition: opacity 0.4s;
      }
      &.facebook {
        @extend .icons-facebook;
      }
      &.twitter {
        @extend .icons-twitter;
      }
      &.tumblr {
        @extend .icons-tumblr;
      }
      &.pinterest {
        @extend .icons-pinterest;
      }
    }
  }
}

// Sponsored Look

.sponsored-look {
  margin: 12px 0;
  .look {
    width: 75%;
    border-radius: 6px 0 0 6px;
    height: 380px;
    background: #33393d;
    float: left;
  }
  
  .info {
    width: 25%;
    background-color: #F5F5F5;
    border-radius: 0 6px 6px 0;
    float: left;
    height: 380px;
    .inner {
      padding: 20px;
    }
  }
}