@mixin wrapper($wrapper-width) {
  width: $wrapper-width;
  margin-left: -($wrapper-width/2);
  left: 50%;
  position: relative;
  top: 0;
  z-index: 1;
}

// Main Wrapper (980px)

.wrapper {
  @include wrapper(960px);
}

// Tablet

@media screen and (min-width: 681px) and (max-width: 1024px) {

	.wrapper {
	  @include wrapper(600px);
	}

}

// Phone

@media screen and (max-width: 680px) {

	.wrapper {
	  @include wrapper(100%);
	}

}